
        body{
         
            background-image: 
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url("cosmic-symmetry-3840x2160-20464.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            background-color: black;
            font-family: Roboto Mono;
            padding:25px 50px;
            padding-bottom: 100px;
        }
        .hidden{
            display: none;
            
        }
        .box1{
            height: 450px;
            width: 600px;
            background-color: rgba(255,255,255,0.1);
            margin: 10px;
            backdrop-filter: blur(5px);
            border-radius: 40px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
            

        }
        /* .input-container{
            display: flex;
            align-items: center;
            
        } */
        #task {
            font-family: Roboto Mono;
            font-size: 23px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 15px;
            color: white;
            display: flex;
            justify-content: center;
            
            
        }
        #task-input {
            border: none;
            border-radius: 15px;
            padding: 16px 20px;
            font-size: 17px;
            background-color: rgb(255,255,255,0.5);
            backdrop-filter: blur(5px);
            
            
            
        }
        #task-input::placeholder {
            color: rgba(0, 0, 0, 0.8);
            font-size: 17px;
        }
        .add{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            padding-left: 25px;
            padding-right:25px;
            padding-top:15px;
            padding-bottom:15px;
            margin-left: 10px;
            transition: 
            background-position 0.4s ease-out,
            box-shadow 0.4s ease-out,
            transform 0.3s ease-out,
            border 0.4s ease-in-out;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            
        }
        .add:hover {
            background-position: 100% 0 ;
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
            font-weight: 600;
            transform: scale(1.05);
            transition: 
            color 0.3s, transform 0.3s, background-position 0.5s, font-weight 0.3s;
            
        }
        .add:active {
            outline: 1px solid rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 rgba(255,255,255,0);
            transform: scale(0.95);
        }
        #task-container {
            color: white;
            margin-top: 10px;
            
        }   
        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 17px;
            padding-bottom: 15px;
        }
        .point {
            font-size: 1.3em;
        }
        
        .box2{
            
            height: 450px;
            width: 600px;
            background-color: rgba(255,255,255,0.1);
            margin: 10px;
            backdrop-filter: blur(5px);
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            padding-top:10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
            

        }
            
        .box3{
            height: 200px;
            width: 600px;
            background-color: rgba(255,255,255,0.1);
            margin: 10px;
            backdrop-filter: blur(5px);
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            padding-top:10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;


        }    
        .nav{
            display: flex;
            top: 10px;
            left: 40px;
            right: 30px;
            height: 72px;
            justify-content: space-between;
            align-items: center;
            position: fixed;

            
            
        }
        .container1{
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding-left: 40px; */
            transition: transform 0.5s ease-out, text-shadow 0.5s ease-out;
        }
        .container1:hover {
            transform: scale(1.2);
        }
        .container1:hover>.orbit:hover {
            text-shadow: 2px 2px 8px rgba(255,255,255,0.5);
        }
        .container2{
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding-right: 40px; */
            
        }
        header{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .delete-btn {
        background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            
            padding-left:20px;
            padding-right:20px;
            padding-top:10px;
            padding-bottom:10px;
            transition: 
            background-position 0.4s ease-out,
            box-shadow 0.4s ease-out,
            transform 0.3s ease-out;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            
        }
        ul li{
            list-style: none;
        }
        .orbit{
            font-size: 40px;
            color: white;
            font-weight: 700;
            padding: 10px 15px;
            cursor: pointer;
            transition: text-shadow 0.5s ease-out;
            
        }
        .orbit-icon {
            scale: 1.25;
            padding-top: 3px;
        }
        
        .dark{
            border-radius: 50px;
            border: none;
            padding: 13px;
        }
        .background{
            font-family: Roboto Mono;
            font-size: 15px;
            color: white;
            border: none;
            border-radius: 50px;
            margin-left: 20px;
            padding: 13px;
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            transition:background-position 0.4s ease-out,
            box-shadow 0.4s ease-out,
            transform 0.3s ease-out,
            border 0.4s ease-in-out;

        
        }
        .moon{
            width:20px
        }
        .quote>p{
            text-align: center;
            font-size: 30px;
            color: white;

        }
        .box-container1{
            display:flex;
            justify-content: space-around;
            padding-bottom: 15px ;
        }
        .box-container2{
            display:flex;
            justify-content: space-around;
        }
        
        .time-tracker{
            font-family: Roboto Mono;
            font-size: 23px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 15px;
            color: white;
            display: flex;
            justify-content: center;


            
        }    
        #timer-display{
            color: white;
            margin-bottom: 70px;
            font-size: 50px;
            margin-top: 110px;
        }
        .start{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            margin-right:20px;
            padding:5px;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            

        }
        .stop{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            margin-right:20px;
            padding:5px;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            
        }
    
        .reset{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            padding:5px;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
           


        }
     
        .start:hover, .stop:hover, .reset:hover,.background:hover{
            background-position: 100% 0 ;
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
            font-weight: 600;
            transform: scale(1.05);
            transition: 
                  transform 0.3s, background-position 0.5s, font-weight 0.3s ;
            cursor: pointer;
        }
        .start,.stop,.reset{
            padding-left:13px;
            padding-right:13px;
            padding-top:10px;
            padding-bottom:10px;
            transition: 
                background-position 0.4s ease-out,
                box-shadow 0.4s ease-out,
                transform 0.3s ease-out;

        }
      
        .start:active, .stop:active, .reset:active,.background:active{
            outline: 1px solid rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 rgba(255,255,255,0);
            transform: scale(0.95);


        }
        .statistics{
            font-family: Roboto Mono;
            font-size: 23px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 15px;
            color: white;
            display: flex;
            justify-content: center;

        }
        ul{
            color: white;
        }
        header{
            color: white;
        }

        
   
    
    
      