
        body{
         
            background-image: 
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url("cosmic-symmetry-3840x2160-20464.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            background-color: #fff;
            font-family: Roboto Mono;
        }
        .hidden{
            display: none;
        }
        .box1{
            height: 300px;
            width: 600px;
            background-color: rgb(255,255,255,0.1);
            margin: 10px;
            backdrop-filter: blur(5px);
            border-radius: 40px;
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
            

        }
        #task {
            font-family: Roboto Mono;
            font-size: 23px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 15px;
            color: white;
            display: flex;
            justify-content: center;
            
            
        }
        #task-input {
            
            margin-top: 5px;
        }
        
        .box2{
            
            height: 300px;
            width: 600px;
            background-color: rgb(255,255,255,0.1);
            margin: 10px;
            backdrop-filter: blur(1px);
            border-radius: 30px;
            text-align: center;
            padding-top:10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;
            

        }
            
        .box3{
            height: 300px;
            width: 600px;
            background-color: rgb(255,255,255,0.1);
            margin: 10px;
            backdrop-filter: blur(1px);
            border-radius: 30px;
            text-align: center;
            padding-top:10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 10px;


        }    
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center
            ;
        }
        .container1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container2{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        header{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .delete-btn {
        background: red;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 2px 6px;
        }
        ul li{
            list-style: none;
        }
        .orbit{
            font-size: 40px;
            color: white;
            font-weight: bold;
            padding: 5px;
        }
        .dark{
            border-radius: 50px;
            border: none;
            padding: 13px;
        }
        .background{
            font-family: Roboto Mono;
            font-size: 15px;
            border: none;
            border-radius: 50px;
            margin-left: 20px;
            padding: 13px;
            

        }
        .moon{
            width:20px
        }
        .quote>p{
            text-align: center;
            font-size: 30px;
            color: white;

        }
        .box-container1{
            display:flex;
            justify-content: space-around;
        }
        .box-container2{
            display:flex;
            justify-content: space-around;
        }
        .line {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid;
            border-width: 0.5px;
            border-color: rgba(240, 248, 255, 0.3);
            width: 550px;
        }        
        .time-tracker{
            font-family: Roboto Mono;
            font-size: 23px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 15px;
            color: white;
            display: flex;
            justify-content: center;

            
        }    
        #timer-display{
            color: white;
            margin-bottom: 40px;
            font-size: 50px;
        }
        .start{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            margin-right:20px;
            padding:5px;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            

        }
        .stop{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            margin-right:20px;
            padding:5px;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;
            
        }
    
        .reset{
            background: linear-gradient( 
                135deg,
                rgba(149, 75, 14, 0.85),
                rgba(77, 41, 7, 0.7),
                rgba(209, 110, 4, 0.6),
                rgba(80, 40, 10, 0.8));
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17px;
            font-family: Roboto Mono;
            padding:5px;
            background-size: 200% 100%;
            background-position: 0 0;
            cursor: pointer;

        }
        .start:hover, .stop:hover, .reset:hover{
            background-position: 100% 0 ;
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
            font-weight: 600;
            transform: scale(1.05);
            transition: 
                  transform 0.3s, background-position 0.5s, font-weight 0.3s ;
            cursor: pointer;
        }
        .start,.stop,.reset{
            padding-left:13px;
            padding-right:13px;
            padding-top:10px;
            padding-bottom:10px;
            transition: 
                background-position 0.4s ease-out,
                box-shadow 0.4s ease-out,
                transform 0.3s ease-out;

        }
        .statistics{
            font-family: Roboto Mono;
            font-size: 23px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding-bottom: 15px;
            color: white;
            display: flex;
            justify-content: center;

        }
        ul{
            color: white;
        }
        header{
            color: white;
        }

        
   
    
    
      